@import "./../bower_components/foundation/scss/foundation/_functions";
@import "./../bower_components/foundation/scss/foundation/components/_global";

/** colors **/

$primary-color: #5072A7;
$secondary-color: #e7e7e7;
$alert-color: #EE204D;
$success-color: #00A877;
$warning-color: #FFBA00;
$info-color: #56A0D3;

/** top bar **/
$tabbar-bg: transparent;
$topbar-bg-color: #f5f5f5;
$topbar-link-color: #7e7e7e;
$topbar-link-color-hover: $alert-color;
$topbar-link-color-active: #fff;
$topbar-dropdown-bg: transparent;
// $topbar-link-color-active-hover: #fff;
$topbar-link-weight: $font-weight-bold;
$topbar-link-font-size: rem-calc(15);
// $topbar-link-hover-lightness: -10%; // Darken by 10%
// $topbar-link-bg: $topbar-bg;
$topbar-link-bg-color-hover: transparent;
$topbar-link-bg-hover:  transparent;
$topbar-link-bg-active: $alert-color;

$topbar-menu-link-color : #7e7e7e;
$topbar-menu-icon-color : #7e7e7e;
// $topbar-link-bg-active-hover: scale-color($primary-color, $lightness: -14%);
// $topbar-link-font-family: $body-font-family;
// $topbar-link-text-transform: none;
// $topbar-link-padding: $topbar-height / 3;

$tabbar-color: #7e7e7e;
$tabbar-header-color: #7e7e7e;
$tabbar-menu-icon-color: #7e7e7e;
