<nav class="tab-bar show-for-small-only" >
    <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
    </section>

    <section class="middle tab-bar-section">
        <h1 class="title left">Mobile application</h1>
    </section>

</nav>
<aside class="left-off-canvas-menu">
    <ul class="off-canvas-list">
        <li ng-class="{'active' : $state.includes('parent.dashboard.**')}"><a ui-sref="parent.dashboard" >Dashboard Feature</a></li>
        <li ng-class="{'active' : $state.includes('parent.user.**')}"><a ui-sref="parent.user">Users Feature</a></li>
        <li ng-class="{'active' : $state.includes('parent.preview.**')}"><a ui-sref="parent.preview">CSS Preview</a></li>
    </ul>
</aside>
<nav class="top-bar hide-for-small-only" data-topbar>
    <section class="top-bar-section">
        <!-- Left Nav Section -->
        <ul class="left">
            <li ng-class="{'active' : $state.includes('parent.dashboard.**')}"><a ui-sref="parent.dashboard" >Dashboard Feature</a></li>
            <li ng-class="{'active' : $state.includes('parent.user.**')}"><a ui-sref="parent.user">Users Feature</a></li>
            <li ng-class="{'active' : $state.includes('parent.preview.**')}"><a ui-sref="parent.preview">CSS Preview</a></li>

        </ul>
    </section>
</nav>