<div class="large-12 columns">
    <h2>Alerts</h2>
    <hr>
    <div class="large-4 column">
        <h4>Classic alerts</h4>
        <alert class="alert-box">alert-box</alert>
        <alert class="alert-box success">alert-box success</alert>
        <alert class="alert-box warning">alert-box warning</alert>
        <alert class="alert-box alert">alert-box alert</alert>
        <alert class="alert-box info">alert-box info</alert>
        <alert class="alert-box secondary">alert-box secondary</alert>
    </div>
    <div class="large-4 column">
        <h4>Radius alerts</h4>
        <alert class="alert-box radius">alert-box</alert>
        <alert class="alert-box success radius">alert-box success</alert>
        <alert class="alert-box warning radius">alert-box warning</alert>
        <alert class="alert-box alert radius">alert-box alert</alert>
        <alert class="alert-box info radius">alert-box info</alert>
        <alert class="alert-box secondary radius">alert-box secondary</alert>
    </div>
    <div class="large-4 column">
        <h4>Round alerts</h4>
        <alert class="alert-box round">alert-box</alert>
        <alert class="alert-box success round">alert-box success</alert>
        <alert class="alert-box warning round">alert-box warning</alert>
        <alert class="alert-box alert round">alert-box alert</alert>
        <alert class="alert-box info round">alert-box info</alert>
        <alert class="alert-box secondary round">alert-box secondary</alert>
    </div>
</div>
<div class="large-12 columns">
    <h2>Buttons</h2>
    <hr>
    <div class="large-3 column">
        <h4>Large Buttons</h4>
        <alert class="button large expand">button</alert>
        <alert class="button large success expand">button success</alert>
        <alert class="button large warning expand radius">radius warning</alert>
        <alert class="button large alert expand radius">radius alert</alert>
        <alert class="button large info expand round">round info</alert>
        <alert class="button large secondary expand round">round secondary</alert>
    </div>
    <div class="large-3 column">
        <h4>Medium Buttons</h4>
        <alert class="button medium expand">button</alert>
        <alert class="button medium success expand">button success</alert>
        <alert class="button medium warning expand radius">radius warning</alert>
        <alert class="button medium alert expand radius">radius alert</alert>
        <alert class="button medium info expand round">round info</alert>
        <alert class="button medium secondary expand round">round secondary</alert>
    </div>
    <div class="large-3 column">
        <h4>Normal Buttons</h4>
        <alert class="button expand">button</alert>
        <alert class="button success expand">button success</alert>
        <alert class="button warning expand radius">radius warning</alert>
        <alert class="button alert expand radius">radius alert</alert>
        <alert class="button info expand round">round info</alert>
        <alert class="button secondary expand round">round secondary</alert>
    </div>
    <div class="large-3 column">
        <h4>Tiny Buttons</h4>
        <alert class="button tiny expand">button</alert>
        <alert class="button tiny success expand">button success</alert>
        <alert class="button tiny warning expand radius">radius warning</alert>
        <alert class="button tiny alert expand radius">radius alert</alert>
        <alert class="button tiny info expand round">round info</alert>
        <alert class="button tiny secondary expand round">round secondary</alert>
    </div>

</div>